header{
  border-bottom: 3px solid black;
}

main{
  text-align: center;
}

nav .highlight{
  background-color: yellow;
  font-weight: bold;
}

nav a:link, nav a:visited{
  text-decoration: none;
  color: black;
}

.mini_title{
  margin-top: 60px;
  margin-bottom: 40px;
}

.products{
  margin: auto;
  margin-bottom: 60px;
  padding-top: 4px;
  width: 412px;
}

.products img{
  width: 400px;
  border: 2px solid black;
}

.products a:link, .products a:hover, .products a:visited{
  text-align: left;
  text-decoration: none;
  color: black;
}

.products:hover{
  background-color: yellow;
  font-weight: bold;
}

.products p{
  padding-left: 4px;
}

.products .price{
  font-weight: 100;
}

.product_detail{
  margin: auto;
  width: 604px;
}

.product_detail img{
  width: 600px;
  border: 2px solid black;
}

.detail_descr{
  width: 200px;
  margin: auto;
  text-align: left;
}

#glazing, #size{
  width: 200px;
  height: 37px;
}

.add_cart{
  width: 200px;
  margin: auto;
  margin-top: 50px;
}

#add_to_cart{
  background-color: yellow;
  border: 2px solid black;
  margin-left: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.shopping_cart{
  width: 65%;
  margin: auto;
  border-bottom: 3px solid black ;
}

.shopping_cart img{
  width: 200px;
  border: 2px solid black;
}

.cart_price{
  margin-top: 30px;
  margin-bottom: 70px;
}

.checkout button{
  background-color: yellow;
  border: 2px solid black;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}